@import './constants.css';

.main {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.main .left {
	border-right: 1px solid var(--border-color);
}

.main .left,
.main .right {
	display: flex;
	flex-direction: column;
}

.main {

	& button {
		width: 100%;
		font-size: var(--font-size-md);
		padding: var(--spacing-sm) var(--spacing-md);
		text-align: start;
		background-color: var(--blue);
		border: none;
		font-weight: 900;
		color: var(--light);
	}

	& .editor,
	.preview {
		flex-grow: 1;
		width: 100%;
		padding: var(--spacing-xs);
		white-space: pre-wrap;
		display: block;
	}
}

.todo {
	background-color: orange;
	margin-bottom: var(--spacing-sm);

	& .wrapper,
	.mini {
		display: flex;
	}
}

.todo.collapse .wrapper,
.todo.collapse .priority,
.todo.collapse .description {
	display: none;
}