@import './constants.css';

.editor[contentEditable]:not([contentEditable=false]):empty:not(:focus):before{
	content: attr(data-text);
	color: var(--dark-grey);
}

.main {
	display: flex;
}

.main .left {
	border-right: 1px solid var(--border-color);
}

.main .left:empty {
	display: none;
}

.main .left,
.main .right {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.main {

	& .editor {
		flex-grow: 1;
		width: 100%;
		padding: var(--spacing-xs);
		white-space: pre-wrap;
		display: block;
	}

	& .todoList {
		height: 100%;
		width: 100%;
	}

	& .left:empty + .right .todoList:empty:before {
		content: attr(data-default);
		color: var(--dark-grey);
	}

}

#saveBtn,
#clearBtn {
	font-size: var(--font-size-md);
	padding: var(--spacing-sm) var(--spacing-md);
	text-align: start;
	background-color: var(--blue);
	color: var(--light);
	font-weight: 900;
	border: none;
	white-space: nowrap;
}

.todo {
	border-radius: var(--border-radius);
	margin-bottom: var(--spacing-sm);
	border: 1px solid var(--blue);
	overflow: hidden;
	/* remove space between divs */
	font-size: 0;

	& * {
		font-size: var(--font-size-md);
	}

	& > *:not(:first-child) {
		padding: var(--spacing-xs);
		width: 100%;
	}

	& .wrapper {
		display: flex;
		justify-content: space-around;
		align-items: center;

		& button {
			padding: var(--spacing-xs) var(--spacing-sm);
			background-color: var(--blue);
			color: var(--light);
			border: none;
			font-weight: bold;
		}
	}

	.description {
		margin-bottom: var(--spacing-xs);
	}

	fieldset {
		font-size: 0;
		border-left: none;
		border-right: none;

		& * {
			font-size: var(--font-size-md);
		}

		& .priority {
			display: grid;
			align-items: center;
			justify-content: center;
			text-align: center;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: 1fr 1fr;
			grid-template-areas:
				"radio1 radio2 radio3"
				"label1 label2 label3";

			& label:first-of-type {
				grid-area: label1;
			}

			& label:nth-of-type(2) {
				grid-area: label2;
			}

			& label:last-of-type {
				grid-area: label3;
			}

			& input[value="low"] {
				grid-area: radio1;
			}

			& input[value="medium"] {
				grid-area: radio2;
			}

			& input[value="high"] {
				grid-area: radio3;
			}
		}
	}

	& .min {
		height: var(--todo-height-collapsed);
		display: grid;
		align-items: center;
		justify-items: center;
		grid-template-columns: var(--icon-lg) 1fr 1fr var(--icon-lg);
		grid-template-rows: 75% 25%;
		column-gap: 0.5rem;
		grid-template-areas:
			"input label label button"
			"projectName projectName dueDate dueDate";

		& input[type=checkbox] {
			grid-area: input;
			height: var(--icon-md);
			width: var(--icon-md);
		}

		& label {
			grid-area: label;
			justify-self: start;
		}

		& .projectName,
		.dueDate {
			align-self: start;
			font-size: var(--font-size-sm);
			padding: 0 var(--spacing-xxs);
		}

		& .projectName {
			grid-area: projectName;
			justify-self: start;
		}

		& .dueDate {
			grid-area: dueDate;
			justify-self: end;
		}

		& button {
			grid-area: button;
			border: none;
			font-size: var(--icon-sm);
			background-color: transparent;
			display: flex;
			justify-content: center;
			align-items: center;

			& i::before {
				color: var(--dark);
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
	}
}

.todo.medium {
	background-color: var(--priority-medium);
}

.todo.high {
	background-color: var(--priority-high);
}

.todo.collapse {
	height: var(--todo-height-collapsed);
}

.todo.collapse > *:not(.min) {
	display: none;
}
