@import "~@flaticon/flaticon-uicons/css/all/all";
@import './constants.css';
@import './main.css';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	min-height: 100%;
}

body {
	height: 100svh;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	background-color: var(--background);
	color: var(--foreground);
}

p,
span {
	line-height: var(--lh);
}

ul {
	list-style-type: none;
}

i {
	color: var(--dark-grey);
}

button {
	cursor: pointer;
	border-radius: var(--border-radius);
}

header {
	grid-area: header;
}

footer {
	grid-area: footer;
	width: 100%;
	display: flex;
	justify-content: center;
	color: var(--dark-grey);

	& a {
		color: var(--dark-grey);
	}
}

.main {
	grid-area: main;
}

.container {
	height: 100%;
	display: grid;
	grid-template-columns: min-content 1fr;
	grid-template-rows: 1fr min-content;
	grid-template-areas:
		"header main"
		"header footer";
}

/* SIDEBAR */
.sidebar {
	width: var(--sidebar-width);
	height: 100%;
	padding: var(--spacing-xs);
	background-color: var(--background);
	border-right: 1px solid var(--border-color);
	display: flex;
	flex-direction: column;
}

.logo-name-wrapper,
.project-header-wrapper {
	margin-bottom: var(--spacing-md);
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: var(--font-size-lg);
}

.logo-name {
	display: flex;
	align-items: center;
}

.logo-name__name {
	margin-left: var(--spacing-xs);
	white-space: nowrap;
	color: var(--dark-grey);
}

.logo-name__button {
	font-size: var(--icon-lg);
}

.logo-name__button,
.project-header__button {
	background-color: transparent;
	border: none;
}

.overviewList:not(:last-child),
.projectList {
	padding-bottom: var(--spacing-sm);
	border-bottom: 1px solid var(--grey);
	margin-bottom: var(--spacing-md);
}

.projectList {
	flex: 1;
}

.overview,
.project {
	display: flex;
	align-items: center;
	position: relative;
	padding: var(--spacing-xs);
	color: var(--foreground);
	background-color: transparent;
	border-radius: var(--border-radius);
	width: 100%;
	border: none;
}

.overview:hover,
.project:hover {
	background-color: var(--hover-color);
}

.project-icon,
.overview-icon {
	font-size: var(--icon-lg);
}

.project-header-icon {
	font-size: var(--icon-md);
}

.project-header__button {
	position: relative;
}

.project-text,
.overview-text {
	margin-left: var(--spacing-sm);
	font-size: var(--font-size-md);
	white-space: nowrap;
	flex-grow: 1;
	text-align: start;
	opacity: 1;
}

.project-header,
.overview-header {
	font-size: var(--font-size-md);
	text-transform: uppercase;
	color: var(--dark-grey);
	margin-bottom: var(--spacing-xs);
	white-space: nowrap;
}

.tooltip {
	position: absolute;
	left: var(--spacing-lg);
	background-color: var(--light-grey);
	color: var(--foreground);
	border-radius: var(--border-radius);
	padding: var(--spacing-sm);
	font-size: var(--font-size-md);
	opacity: 0;
	display: none;
	box-shadow: var(--box-shadow);
	white-space: nowrap;
}

.project-header__button .tooltip {
	left: var(--spacing-md);
}

.overview.active,
.project.active {
	background-color: var(--grey);
}

.project-header__button:hover .tooltip,
.project:hover .tooltip,
.overview:hover .tooltip {
	top: 50%;
	transform: translateY(-50%);
	opacity: 1;
}

.sidebar.collapse {
	width: var(--sidebar-width-collapsed);
	align-items: center;
}

.project-header__button .tooltip,
.sidebar.collapse .tooltip {
	display: block;
}

.sidebar.collapse .overview-text,
.sidebar.collapse .project-text,
.sidebar.collapse .logo-name {
	display: none;
}

.sidebar.collapse .logo-name-wrapper {
	padding-left: var(--spacing-xs);
}

.sidebar.collapse #clearBtn,
.sidebar.collapse .project-header-wrapper,
.sidebar.collapse .overview-header-wrapper {
	opacity: 0;
	pointer-events: none;
}

/* DROPDOWN */
.dropbtn {
    border: none;
    cursor: pointer;
    height: var(--icon-lg);
    width: var(--icon-lg);
    border-radius: var(--border-radius);
    display: inline-block;
}

.dropdown {
    position: relative;
    display: inline-block;
}

/* vertically align icon.dropbtn */
i.dropbtn::before {
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
}

.dropdown-content {
    display: none;
    border-radius: var(--border-radius);
    position: absolute;
    background-color: var(--background);
    min-width: 160px;
	box-shadow: var(--box-shadow);
    z-index: 1;
}

.overview:only-child .dropdown-content {
	top: auto;
	bottom: 100%;
}

.dropdown-content div {
    padding: var(--spacing-xs) var(--spacing-sm);
    text-decoration: none;
    display: block;
    border-radius: inherit;
    margin: var(--spacing-xxs);
}

.dropdown-content div:hover {
    background-color: var(--hover-color);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: var(--grey);
}

.project.active .dropdown:hover .dropbtn {
    background-color: var(--dark-grey);
	color: var(--foreground);
}

.sidebar.collapse .dropdown,
.sidebar.collapse .dropdown-content {
    display: none;
}
